.divide10
{
    width: 100%; 
    height: 10px;
}

.element-top-10
{
    margin-top: 10px;
}

.element-top-xs-10
{
    margin-top: 5px;
}

.element-bottom-10
{
    margin-bottom: 10px;
}

.element-bottom-xs-10
{
    margin-bottom: 5px;
}

.element-height-10
{
    height: 10px;
}

.divide20
{
    width: 100%; 
    height: 20px;
}

.element-top-20
{
    margin-top: 20px;
}

.element-top-xs-20
{
    margin-top: 10px;
}

.element-bottom-20
{
    margin-bottom: 20px;
}

.element-bottom-xs-20
{
    margin-bottom: 10px;
}

.element-height-20
{
    height: 20px;
}

.divide30
{
    width: 100%; 
    height: 30px;
}

.element-top-30
{
    margin-top: 30px;
}

.element-top-xs-30
{
    margin-top: 15px;
}

.element-bottom-30
{
    margin-bottom: 30px;
}

.element-bottom-xs-30
{
    margin-bottom: 15px;
}

.element-height-30
{
    height: 30px;
}

.divide40
{
    width: 100%; 
    height: 40px;
}

.element-top-40
{
    margin-top: 40px;
}

.element-top-xs-40
{
    margin-top: 20px;
}

.element-bottom-40
{
    margin-bottom: 40px;
}

.element-bottom-xs-40
{
    margin-bottom: 20px;
}

.element-height-40
{
    height: 40px;
}

.divide50
{
    width: 100%; 
    height: 50px;
}

.element-top-50
{
    margin-top: 50px;
}

.element-top-xs-50
{
    margin-top: 25px;
}

.element-bottom-50
{
    margin-bottom: 50px;
}

.element-bottom-xs-50
{
    margin-bottom: 25px;
}

.element-height-50
{
    height: 50px;
}

.divide60
{
    width: 100%; 
    height: 60px;
}

.element-top-60
{
    margin-top: 60px;
}

.element-top-xs-60
{
    margin-top: 30px;
}

.element-bottom-60
{
    margin-bottom: 60px;
}

.element-bottom-xs-60
{
    margin-bottom: 30px;
}

.element-height-60
{
    height: 60px;
}

.divide70
{
    width: 100%; 
    height: 70px;
}

.element-top-70
{
    margin-top: 70px;
}

.element-top-xs-70
{
    margin-top: 35px;
}

.element-bottom-70
{
    margin-bottom: 70px;
}

.element-bottom-xs-70
{
    margin-bottom: 35px;
}

.element-height-70
{
    height: 70px;
}

.divide80
{
    width: 100%; 
    height: 80px;
}

.element-top-80
{
    margin-top: 80px;
}

.element-top-xs-80
{
    margin-top: 40px;
}

.element-bottom-80
{
    margin-bottom: 80px;
}

.element-bottom-xs-80
{
    margin-bottom: 40px;
}

.element-height-80
{
    height: 80px;
}

.divide90
{
    width: 100%; 
    height: 90px;
}

.element-top-90
{
    margin-top: 90px;
}

.element-top-xs-90
{
    margin-top: 45px;
}

.element-bottom-90
{
    margin-bottom: 90px;
}

.element-bottom-xs-90
{
    margin-bottom: 45px;
}

.element-height-90
{
    height: 90px;
}

.divide100
{
    width: 100%; 
    height: 100px;
}

.element-top-100
{
    margin-top: 100px;
}

.element-top-xs-100
{
    margin-top: 50px;
}

.element-bottom-100
{
    margin-bottom: 100px;
}

.element-bottom-xs-100
{
    margin-bottom: 50px;
}

.element-height-100
{
    height: 100px;
}

.no-padding
{
    padding: 0 !important;
}

.no-margin
{
    margin: 0 !important;
}

.sc-form .form-control,
.sc-form .single-line
{
    font-size: 14px;

    display: block;

    width: 100%; 
    padding: 6px 12px;

    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;

    color: inherit;
    border: thin solid #e5e6e7;
    border-radius: 1px;
    background-color: #fff;
    background-image: none;
}

.btn
{
    border-radius: 0;
}

.btn-preloader
{
    display: none;

    text-align: center;
}

.sc-button
{
    color: #fff; 
    border-color: #71a634;
    background-color: #71a634;
}
.sc-button:hover,
.sc-button:active,
.sc-button:focus
{
    background-color: #8bc647;
}

.btn-white
{
    color: inherit; 
    border: thin solid #e7eaec;
    background: white none repeat scroll 0 0;
}
.btn-white:hover,
.btn-white:active,
.btn-white:focus
{
    background: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 100;
}

h1
{
    font-size: 30px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 16px;
}

h4
{
    font-size: 14px;
}

h5
{
    font-size: 12px;
}

h6
{
    font-size: 10px;
}

h3,
h4,
h5
{
    font-weight: 600; 

    margin-top: 5px;
}

a
{
    cursor: pointer;
}
a:hover,
a:focus
{
    text-decoration: none;
}

body
{
    font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;

    overflow-x: hidden;

    height: 100%; 

    color: #676a6c;
    background-color: #2f4050;
}
body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper
{
    height: 100%;
}
body.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed
{
    margin: 0 0 0 70px;
}
body.mini-navbar.canvas-menu .footer.fixed,
body.canvas-menu .footer.fixed
{
    margin: 0 !important;
}
body.fixed-sidebar.body-small.mini-navbar .footer.fixed
{
    margin: 0 0 0 220px;
}
body.body-small .footer.fixed
{
    margin-left: 0;
}
body.body-small .vote-icon
{
    display: none;
}

.body-small .small-chat-box
{
    right: 20px; 
    bottom: 70px;
}

body.body-small.mini-navbar .footer.fixed
{
    margin: 0 70px 0 0;
    margin: 0 0 0 0;
}

html
{
    height: 100%;
}

ul.unstyled,
ol.unstyled
{
    margin-left: 0; 

    list-style: none outside none;
}

.big-icon
{
    font-size: 160px !important;

    color: #e5e6e7;
}

.breadcrumb
{
    margin-bottom: 0; 
    padding: 0;

    background-color: #fff;
}
.breadcrumb > li a,
.breadcrumb > .active
{
    color: inherit;
}

code
{
    font-size: 90%;

    padding: 2px 4px;

    white-space: nowrap; 

    color: #ca4440;
    border-radius: 4px;
    background-color: #f9f2f4;
}

/* FULL HEIGHT */
.full-height
{
    height: 100%;
}

.fh-breadcrumb
{
    position: relative; 

    height: calc(100% - 196px);
    margin: 0 -15px;
}

.fh-no-breadcrumb
{
    position: relative; 

    height: calc(100% - 99px);
    margin: 0 -15px;
}

.fh-column
{
    float: left; 

    width: 240px;
    height: 100%;

    background: #fff;
}

.modal-backdrop
{
    z-index: 2040 !important;
}

.modal
{
    z-index: 2050 !important;
}

.spiner-example
{
    height: 200px;
    padding-top: 70px;
}

#page-wrapper
{
    min-height: auto;
}

.top-navigation.boxed-layout #wrapper,
.boxed-layout #wrapper.top-navigation
{
    max-width: 1300px !important;
}

.block
{
    display: block;
}

.clear
{
    display: block;
    overflow: hidden;
}

.border-bottom
{
    border-bottom: 1px solid #e7eaec !important;
}

.font-bold
{
    font-weight: 600;
}

.font-normal
{
    font-weight: 400;
}

.text-uppercase
{
    text-transform: uppercase;
}

.b-r
{
    border-right: 1px solid #e7eaec;
}

.hr-line-dashed
{
    height: 1px;
    margin: 20px 0; 

    color: #fff;
    border-top: 1px dashed #e7eaec;
    background-color: #fff;
}

.hr-line-solid
{
    margin-top: 15px;
    margin-bottom: 15px; 

    border-style: solid !important;
    border-bottom: 1px solid #e7eaec;
    background-color: transparent;
}

video
{
    width: 100%    !important;
    height: auto   !important;
}

.alert-fixed
{
    position: fixed;
    z-index: 9999; 

    width: 100%;

    border-radius: 0;
}

/* BACKGROUNDS */
.gray-bg
{
    background-color: #f3f3f4;
}

.white-bg
{
    background-color: #fff;
}

.navy-bg
{
    color: #fff; 
    background-color: #1ab394;
}

.blue-bg
{
    color: #fff; 
    background-color: #1c84c6;
}

.lazur-bg
{
    color: #fff; 
    background-color: #23c6c8;
}

.yellow-bg
{
    color: #fff; 
    background-color: #f8ac59;
}

.red-bg
{
    color: #fff; 
    background-color: #ed5565;
}

.black-bg
{
    background-color: #262626;
}

.no-top-border
{
    border-top: 0 !important;
}

.ibox-content.text-box
{
    padding-top: 15px; 
    padding-bottom: 0;
}

.border-left-right
{
    border-top: none;
    border-right: 1px solid #e7eaec;
    border-bottom: none; 
    border-left: 1px solid #e7eaec;
}

.border-left
{
    border-top: none;
    border-right: none;
    border-bottom: none; 
    border-left: 1px solid #e7eaec;
}

.border-right
{
    border-top: none;
    border-right: 1px solid #e7eaec;
    border-bottom: none; 
    border-left: none;
}

.full-width
{
    width: 100% !important;
}

.no-borders
{
    border: none !important;
}

.alert
{
    color: #fff;
    border-radius: 0;
}

.alert-success
{
    border-color: #00635a; 
    background-color: #009688;
}

.alert-info
{
    border-color: #32408f; 
    background-color: #3f51b5;
}

.alert-warning
{
    border-color: #cc7a00; 
    background-color: #ff9800;
}

.alert-danger
{
    border-color: #ea1c0d; 
    background-color: #f44336;
}

/* Summernote text editor  */
.note-editor
{
    height: auto !important;
    min-height: 300px;
}
.note-editor button
{
    color: #212121;
}

/* PANELS */
.page-heading
{
    padding: 0 10px 20px 10px; 

    border-top: 0;
}

.panel-heading h1,
.panel-heading h2
{
    margin-bottom: 5px;
}

/* TABLES */
.table-bordered
{
    border: 1px solid #ebebeb;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td
{
    border-bottom-width: 1px; 
    background-color: #f5f5f6;
}
.table-bordered > thead > tr > th
{
    border: 1px solid #e7e7e7;
}
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td
{
    border: 1px solid #e7e7e7;
}

.table > thead > tr > th
{
    line-height: 1.42857;

    padding: 8px;

    vertical-align: bottom;
    vertical-align: top; 

    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td
{
    line-height: 1.42857;

    padding: 8px;

    vertical-align: top; 

    border-top: 1px solid #e7eaec;
}

/* PANELS */
.panel.blank-panel
{
    margin: 0; 

    background: none;
}

.blank-panel .panel-heading
{
    padding-bottom: 0;
}

.nav-tabs > li.active > a
{
    cursor: default; 

    color: #555;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd transparent;
    border-bottom: #f3f3f4;
    border-image: none;
    background: none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    cursor: default; 

    color: #555;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd transparent;
    border-bottom: #f3f3f4;
    border-image: none;
    background: none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.nav.nav-tabs li
{
    border: none; 
    background: none;
}

.nav-tabs > li > a
{
    font-weight: 600;

    padding: 10px 20px 10px 25px; 

    color: #a7b1c2;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus
{
    color: #676a6c; 
    background-color: #e6e6e6;
}

.ui-tab .tab-content
{
    padding: 20px 0;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
{
    z-index: 2; 

    cursor: default;

    color: inherit;
    border-color: #ddd;
    background-color: #f4f4f4;
}

.pagination > li > a,
.pagination > li > span
{
    line-height: 1.42857;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 4px 10px;

    text-decoration: none; 

    color: inherit;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* TOOLTIPS */
.tooltip-inner
{
    background-color: #2f4050;
}

.tooltip.top .tooltip-arrow
{
    border-top-color: #2f4050;
}

.tooltip.right .tooltip-arrow
{
    border-right-color: #2f4050;
}

.tooltip.bottom .tooltip-arrow
{
    border-bottom-color: #2f4050;
}

.tooltip.left .tooltip-arrow
{
    border-left-color: #2f4050;
}

.ui-sortable .ibox-title
{
    cursor: move;
}

.ui-sortable-placeholder
{
    visibility: visible !important;

    border: 1px dashed #cecece !important;
    background: #e7eaec;
}

.ibox.ui-sortable-placeholder
{
    margin: 0 0 23px !important;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5
{
    margin-top: 5px;
}

.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5
{
    margin-top: 5px;
}

.ibox-content.text-box
{
    padding-top: 15px; 
    padding-bottom: 0;
}

.ui-draggable .ibox-title
{
    cursor: move;
}

.ibox
{
    clear: both;

    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
}
.ibox.collapsed .ibox-content
{
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before
{
    content: '\f078';
}
.ibox.collapsed .fa.fa-chevron-down:before
{
    content: '\f077';
}
.ibox:after,
.ibox:before
{
    display: table;
}

.ibox-title
{
    min-height: 48px; 
    margin-bottom: 0;
    padding: 14px 15px 7px;

    color: inherit;
    border-width: 3px 0 0;
    border-style: solid solid none;
    border-color: #e7eaec;
    border-image: none;
    background-color: #fff;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.ibox-content
{
    padding: 15px 20px 20px 20px;

    color: inherit;
    border-width: 1px 0; 
    border-style: solid solid none;
    border-color: #e7eaec;
    border-image: none;
    background-color: #fff;
}

.ibox-footer
{
    font-size: 90%;

    padding: 10px 15px; 

    color: inherit;
    border-top: 1px solid #e7eaec;
    background: #fff;
}

.ibox-content
{
    clear: both;
}

.ibox-heading
{
    border-bottom: none; 
    background-color: #f3f6fb;
}
.ibox-heading h3
{
    font-size: 24px; 
    font-weight: 200;
}

.ibox-title h5
{
    font-size: 14px;

    display: inline-block;
    float: left; 

    margin: 0 0 7px;
    padding: 0;

    text-overflow: ellipsis;
}

.ibox-title .label
{
    float: left;

    margin-left: 4px;
}

.ibox-tools
{
    position: relative;

    display: block;
    float: none;

    margin-top: 0;
    padding: 0;

    text-align: right;
}
.ibox-tools a
{
    margin-left: 5px;

    cursor: pointer;

    color: #c4c4c4;
}
.ibox-tools a.btn-primary
{
    color: #fff;
}
.ibox-tools .dropdown-menu > li > a
{
    font-size: 12px; 

    padding: 4px 10px;
}

.ibox .ibox-tools.open > .dropdown-menu
{
    right: 0; 
    left: auto;
}

.fullscreen-ibox-mode .animated
{
    -webkit-animation: none;
            animation: none;
}

body.fullscreen-ibox-mode
{
    overflow-y: hidden;
}

.ibox.fullscreen
{
    position: fixed;
    z-index: 2030;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    margin-bottom: 0;
}
.ibox.fullscreen .collapse-link
{
    display: none;
}
.ibox.fullscreen .ibox-content
{
    min-height: calc(100% - 48px);
}

.article .ibox-content
{
    padding: 40px;
}

.product-detail .ibox-content
{
    padding: 30px 30px 50px 30px;
}

.loginscreen.middle-box
{
    width: 300px;
}

.loginscreen form .form-control
{
    color: #fff; 
    background-color: #333;
}

.middle-box
{
    z-index: 100; 

    max-width: 400px;
    margin: 0 auto;
    padding-top: 40px;
}
.middle-box h1
{
    font-size: 170px;
}

.logo-name
{
    font-size: 180px;
    font-weight: 800;

    margin-bottom: 0; 

    letter-spacing: -10px;

    color: #e6e6e6;
}

.logo-element
{
    font-size: 18px;
    font-weight: 600;

    display: none;

    padding: 18px 0; 

    text-align: center;

    color: white;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
body .mini-navbar .nav li:focus > .nav-second-level
{
    display: block;

    min-width: 140px;
    height: auto; 

    border-radius: 0 2px 2px 0;
}

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a
{
    font-size: 12px;

    border-radius: 3px;
}

body.fixed-nav #wrapper .navbar-static-side,
body.fixed-nav #wrapper #page-wrapper
{
    margin-top: 60px;
}

body.top-navigation.fixed-nav #wrapper #page-wrapper
{
    margin-top: 0;
}

body.mini-navbar .navbar-static-side
{
    width: 70px;
}

body.mini-navbar .profile-element,
body.mini-navbar .nav-label
{
    display: none;
}

body.mini-navbar .navbar-default .nav li a span
{
    display: none;
}

body.mini-navbar .navbar-default .nav > li > a
{
    font-size: 16px;
}

body.mini-navbar .logo-element
{
    display: block;
}

body.mini-navbar #page-wrapper
{
    margin: 0 0 0 70px;
}

body.canvas-menu .profile-element
{
    display: block;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level,
body.canvas-menu .logo-element
{
    display: none;
}

body.mini-navbar .nav-header
{
    padding: 0;

    background-color: #71a634;
}

body.canvas-menu .nav-header
{
    padding: 33px 25px;
}

body.fixed-sidebar.mini-navbar .footer
{
    margin: 0 0 0 0 !important;
}

body.canvas-menu.mini-navbar .footer
{
    margin: 0 0 0 0 !important;
}

body.canvas-menu.mini-navbar #page-wrapper,
body.canvas-menu.mini-navbar .footer
{
    margin: 0 0 0 0;
}

body.fixed-sidebar .navbar-static-side,
body.canvas-menu .navbar-static-side
{
    position: fixed;
    z-index: 2001;

    width: 220px;
    height: 100%;
}

body.fixed-sidebar.mini-navbar .navbar-static-side
{
    width: 0;
}

body.fixed-sidebar.mini-navbar #page-wrapper
{
    margin: 0 0 0 0;
}

body.body-small.fixed-sidebar.mini-navbar #page-wrapper
{
    margin: 0 0 0 220px;
}

body.body-small.fixed-sidebar.mini-navbar .navbar-static-side
{
    width: 220px;
}

body.fixed-sidebar.mini-navbar .navbar-default .nav > li > .nav-second-level li a
{
    font-size: 12px;

    border-radius: 3px;
}

body.canvas-menu.mini-navbar .navbar-default .nav > li > .nav-second-level li a
{
    font-size: 13px;

    border-radius: 3px;
}

body.fixed-sidebar.mini-navbar .navbar-default .nav > li > a,
body.canvas-menu.mini-navbar .navbar-default .nav > li > a
{
    font-size: 13px;
}

body.fixed-sidebar.mini-navbar .nav-label,
body.fixed-sidebar.mini-navbar .navbar-default .nav li a span
{
    display: inline;
}

body.canvas-menu.mini-navbar .nav-label
{
    display: inline;
}

body.canvas-menu.mini-navbar .navbar-default .nav li a span
{
    display: inline;
}

body.canvas-menu.mini-navbar .navbar-default .nav li .profile-element a span
{
    display: block;
}

body.canvas-menu nav.navbar-static-side
{
    position: fixed;
    z-index: 2001;

    display: none; 

    height: 100%;

    background: #2f4050;
}

body.canvas-menu.mini-navbar nav.navbar-static-side
{
    display: block;

    width: 220px;
}

.fixed-nav .minimalize-styl
{
    margin: 14px 5px 5px 15px;
}

.fixed-nav #wrapper
{
    margin-top: 0;
}

.fixed-nav .slimScrollDiv #side-menu
{
    padding-bottom: 60px;
}

.fixed-sidebar.mini-navbar .nav li:focus > .nav-second-level,
.canvas-menu.mini-navbar .nav li:focus > .nav-second-level
{
    display: block;

    height: auto;
}

.fixed-sidebar.mini-navbar .nav-second-level li a
{
    padding: 10px 10px 10px 15px;
}

.canvas-menu.mini-navbar .nav-second-level li a
{
    padding: 10px 10px 10px 15px;
    padding: 7px 10px 7px 52px;
}

.fixed-sidebar.mini-navbar .nav-second-level
{
    left: 0;
}
.fixed-sidebar.mini-navbar .nav-second-level li a
{
    padding: 7px 10px 7px 52px;
}

.canvas-menu.mini-navbar .nav-second-level
{
    left: 0;
}

.top-navigation #page-wrapper
{
    margin-left: 0;
}

.top-navigation .navbar-nav .dropdown-menu > .active > a
{
    font-weight: bold; 

    color: #71a634;
    background: white;
}

.white-bg .navbar-fixed-top,
.white-bg .navbar-static-top
{
    background: #fff;
}

.top-navigation .navbar
{
    margin-bottom: 0;
}

.top-navigation .nav > li > a
{
    padding: 15px 20px;

    color: #676a6c;
}

.top-navigation .nav > li a:hover,
.top-navigation .nav > li a:focus
{
    color: #71a634; 
    background: #fff;
}

.top-navigation .nav > li.active
{
    border: none; 
    background: #fff;
}
.top-navigation .nav > li.active > a
{
    color: #71a634;
}

.top-navigation .navbar-right
{
    margin-right: 10px;
}

.top-navigation .navbar-nav .dropdown-menu
{
    border: 1px solid #e7eaec; 
    box-shadow: none;
}

.top-navigation .dropdown-menu > li > a
{
    margin: 0;
    padding: 7px 20px;
}

.navbar .dropdown-menu
{
    margin-top: 0;
}

.top-navigation .navbar-brand
{
    padding: 15px 25px; 

    color: #fff;
    background: #71a634;
}

.top-navigation .navbar-top-links li:last-child
{
    margin-right: 0;
}

.top-navigation.mini-navbar #page-wrapper,
.top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper
{
    margin: 0;
}

.mini-navbar .top-navigation #page-wrapper,
.body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper,
.canvas-menu #page-wrapper
{
    margin: 0;
}

.top-navigation.fixed-nav #wrapper,
.fixed-nav #wrapper.top-navigation
{
    margin-top: 50px;
}

.top-navigation .footer.fixed
{
    margin-left: 0 !important;
}

.top-navigation .wrapper.wrapper-content
{
    padding: 40px;
}

.top-navigation.body-small .wrapper.wrapper-content
{
    padding: 40px 0 40px 0;
}

.body-small .top-navigation .wrapper.wrapper-content
{
    padding: 40px 0 40px 0;
}

.navbar-toggle
{
    font-size: 14px; 

    padding: 6px 12px;

    color: #fff;
    background-color: #71a634;
}

.top-navigation .navbar-nav .open .dropdown-menu > li > a,
.top-navigation .navbar-nav .open .dropdown-menu .dropdown-header
{
    padding: 10px 15px 10px 20px;
}

.menu-visible-lg,
.menu-visible-md
{
    display: none !important;
}

.fixed-sidebar.mini-navbar .nav-second-level,
.canvas-menu.mini-navbar .nav-second-level
{
    font-size: 13px; 

    position: relative;

    padding: 0;
}

.fixed-sidebar.mini-navbar li.active .nav-second-level,
.canvas-menu.mini-navbar li.active .nav-second-level
{
    left: 0;
}

.mini-navbar .nav-second-level
{
    font-size: 12px; 

    position: absolute;
    top: 0;
    left: 70px;

    padding: 10px 10px 10px 10px;

    background-color: #2f4050;
}
.mini-navbar .nav-second-level li a
{
    padding: 10px 10px 10px 15px;
}

.nav > li > a
{
    font-size: 12px;

    padding: 14px 20px 14px 25px; 

    color: #a7b1c2;
}
.nav > li > a i
{
    margin-right: 6px;
}

.nav.navbar-right > li > a
{
    color: #999c9e;
}

.nav > li
{
    position: relative; 

    display: block;
}
.nav > li.active
{
    border-left: 4px solid #19aa8d;
    background: #293846;
}
.nav > li.active > a
{
    color: #fff;
}

.nav .open > a
{
    background: #fff;
}
.nav .open > a:hover,
.nav .open > a:focus
{
    background: #fff;
}

.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus
{
    background-color: transparent;
}

.nav.nav-second-level > li.active
{
    border: none;
}

.nav.nav-second-level.collapse[style]
{
    height: auto !important;
}

.nav-second-level li a
{
    padding: 14px 20px 14px 25px;
}

.nav-second-level li:last-child
{
    margin-bottom: 10px;
}

.canvas-menu.mini-navbar .nav-second-level
{
    background: #293846;
}

.mini-navbar li.active .nav-second-level
{
    left: 65px;
}

.nav-third-level li a
{
    padding-left: 62px;
}

.nav-second-level li,
.nav-third-level li
{
    border-bottom: none !important;
}

.navbar-default
{
    border-color: #2f4050; 
    background-color: transparent;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus
{
    color: white; 
    background-color: #293846;
}

.navbar
{
    border: 0;
}

.navbar-top-links li
{
    display: inline-block;

    min-height: 50px; 
    padding: 20px 10px;
}
.navbar-top-links li:last-child
{
    margin-right: 40px;
}

.navbar-top-links .dropdown-menu li
{
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child
{
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a
{
    min-height: 0; 
    padding: 3px 20px;
}
.navbar-top-links .dropdown-menu li a div
{
    white-space: normal;
}

.navbar-top-links a
{
    font-size: 14px;
}

.body-small .navbar-fixed-top
{
    margin-left: 0;
}

.body-small .navbar-top-links li:last-child
{
    margin-right: 0;
}

.nav-header
{
    padding: 33px 25px;

    background: url('../img/header-profile.png') no-repeat;
}
.nav-header a
{
    color: #dfe4ed;
}
.nav-header .text-muted
{
    color: #8095a8;
}
.nav-header img
{
    width: 48px;
    height: 48px;
}

.pace-done .nav-header
{
    transition: all .5s ease, 0s;
}

.dropdown-menu
{
    font-size: 12px;

    position: absolute;
    z-index: 1000; 
    top: 100%;
    left: 0;

    display: none;
    float: left;

    padding: 0;

    list-style: none outside none;

    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, .7);
    text-shadow: none;
}
.dropdown-menu > li > a
{
    font-weight: normal; 
    line-height: 25px;

    margin: 4px;

    text-align: left;

    color: inherit;
    border-radius: 3px;
}
.dropdown-menu > li > a.font-bold
{
    font-weight: 600;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus
{
    text-decoration: none;
}

.minimalize-styl
{
    font-size: 14px;

    float: left; 

    margin: 14px 5px 5px 20px;
    padding: 4px 12px;
}

.navbar-form-custom
{
    display: inline-table; 
    float: left;

    width: 200px;
    height: 50px;
    padding: 0;
}
.navbar-form-custom .form-group
{
    margin-bottom: 0;
}
.navbar-form-custom .form-control
{
    font-size: 14px;

    z-index: 2000; 

    height: 60px;
    margin: 0;

    border: medium none;
    background: none repeat scroll 0 0 transparent;
}

.count-info .label
{
    line-height: 12px;

    position: absolute;
    top: 12px; 
    right: 6px;

    padding: 2px 5px;
}

.arrow
{
    float: right;
}

.fa.arrow:before
{
    content: '\f104';
}

.active > a > .fa.arrow:before
{
    content: '\f107';
}

.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer
{
    transition: all .5s ease, 0s;
}

.navbar-fixed-top
{
    z-index: 2030;

    transition-duration: .5s;

    border-bottom: 1px solid #e7eaec !important;
    background: #fff;
    background: #f3f3f4;
}

.navbar-static-top
{
    background: #f3f3f4;
}

.navbar-static-side
{
    position: absolute;
    z-index: 2001; 

    width: 220px;
}

@media only screen and (min-width: 481px) and (max-width: 1199px)
{
    .menu-visible-md
    {
        display: block !important;
    }
}

@media only screen and (min-width: 1200px)
{
    .menu-visible-lg
    {
        display: block !important;
    }
}

@media only screen and (max-width: 480px)
{
    #page-wrapper
    {
        position: inherit;

        min-height: 1000px; 
        margin: 0 0 0 0;
    }
    .body-small .navbar-static-side
    {
        position: absolute;
        z-index: 2001;

        display: none;

        width: 70px;
    }
    .body-small.mini-navbar .navbar-static-side
    {
        display: block;
    }
    .navbar-header
    {
        display: inline;
        float: left;
    }
    .sidebard-panel
    {
        position: relative;
        z-index: 2;

        width: auto;
        min-height: 100% !important;
    }
    .sidebar-content .wrapper
    {
        z-index: 1; 

        padding-right: 0;
    }
    .menu-visible-md,
    .menu-visible-lg
    {
        display: block !important;
    }
    .fixed-sidebar.body-small .navbar-static-side
    {
        position: fixed;
        z-index: 2001;

        display: none;

        width: 220px;
    }
    .fixed-sidebar.body-small.mini-navbar .navbar-static-side
    {
        display: block;
    }
    .ibox-tools
    {
        display: block; 
        float: none;

        text-align: right;
    }
    .nav.navbar-top-links li.dropdown
    {
        display: none;
    }
    .top-navigation .navbar-header
    {
        display: block;
        float: none;
    }
}
