body
{
    font-family: 'Nunito', sans-serif;

    color: #212121;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wrapper
{
    overflow: hidden;
}

.container
{
    padding: 0;
}
@media only screen and (max-width: 480px)
{
    .container
    {
        padding-right: 15px; 
        padding-left: 15px;
    }
}

h1
{
    font-size: 36px;
}

h2
{
    font-size: 30px;
}
@media only screen and (max-width: 480px)
{
    h2
    {
        font-size: 18px;
    }
}

h3
{
    font-size: 28px;
}

h4
{
    font-size: 24px;
}

h5
{
    font-size: 20px;
}

h6
{
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;
}

.page-title
{
    font-size: 24px;
    font-weight: 700;
    line-height: 104px;

    margin: 0;
}

.sc-title
{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

    margin: 0;
}

a
{
    color: #577f28;
}

.divide10
{
    width: 100%; 
    height: 10px;
}

.element-top-10
{
    margin-top: 10px;
}

.element-bottom-10
{
    margin-bottom: 10px;
}

.element-height-10
{
    height: 10px;
}

.divide20
{
    width: 100%; 
    height: 20px;
}

.element-top-20
{
    margin-top: 20px;
}

.element-bottom-20
{
    margin-bottom: 20px;
}

.element-height-20
{
    height: 20px;
}

.divide30
{
    width: 100%; 
    height: 30px;
}

.element-top-30
{
    margin-top: 30px;
}

.element-bottom-30
{
    margin-bottom: 30px;
}

.element-height-30
{
    height: 30px;
}

.divide40
{
    width: 100%; 
    height: 40px;
}

.element-top-40
{
    margin-top: 40px;
}

.element-bottom-40
{
    margin-bottom: 40px;
}

.element-height-40
{
    height: 40px;
}

.divide50
{
    width: 100%; 
    height: 50px;
}

.element-top-50
{
    margin-top: 50px;
}

.element-bottom-50
{
    margin-bottom: 50px;
}

.element-height-50
{
    height: 50px;
}

.divide60
{
    width: 100%; 
    height: 60px;
}

.element-top-60
{
    margin-top: 60px;
}

.element-bottom-60
{
    margin-bottom: 60px;
}

.element-height-60
{
    height: 60px;
}

.divide70
{
    width: 100%; 
    height: 70px;
}

.element-top-70
{
    margin-top: 70px;
}

.element-bottom-70
{
    margin-bottom: 70px;
}

.element-height-70
{
    height: 70px;
}

.divide80
{
    width: 100%; 
    height: 80px;
}

.element-top-80
{
    margin-top: 80px;
}

.element-bottom-80
{
    margin-bottom: 80px;
}

.element-height-80
{
    height: 80px;
}

.divide90
{
    width: 100%; 
    height: 90px;
}

.element-top-90
{
    margin-top: 90px;
}

.element-bottom-90
{
    margin-bottom: 90px;
}

.element-height-90
{
    height: 90px;
}

.divide100
{
    width: 100%; 
    height: 100px;
}

.element-top-100
{
    margin-top: 100px;
}

.element-bottom-100
{
    margin-bottom: 100px;
}

.element-height-100
{
    height: 100px;
}

.no-padding
{
    padding: 0 !important;
}

.no-margin
{
    margin: 0 !important;
}

/*----------------------------------------------------*/
/*	Unordered List Shortcode	*/
/*----------------------------------------------------*/
.sc-ul
{
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 20px; 

    list-style: none;
}
.sc-ul li
{
    line-height: 22px;

    position: relative;

    margin-left: 18px;
    padding: 4px 0;
}
.sc-ul .fa
{
    line-height: 22px; 

    position: absolute;
    left: -20px;
}

/*----------------------------------------------------*/
/*	Drop Cap Shortcode	*/
/*----------------------------------------------------*/
.sc-dropcap
{
    font-size: 70px;
    line-height: 65px;

    float: left;

    margin-right: 10px; 
    padding: 0 10px;
}
.sc-dropcap.boxed
{
    color: #fff;
    border-radius: 5px;
}

/*----------------------------------------------------*/
/*	Button Shortcode	*/
/*----------------------------------------------------*/
.sc-button
{
    font-size: 16px;
    font-weight: 300;

    margin-right: 15px;
    margin-bottom: 15px;
    transition: all .3s ease, 0s; 
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;
}
.sc-button:hover
{
    color: #fff;
}
.sc-button.medium
{
    padding: 10px 29px;
}
.sc-button.large
{
    font-size: 20px; 

    padding: 12px 34px;
}
.sc-button.green
{
    background: #4ec6ab;
}
.sc-button.purple
{
    background: #2980b9;
}
.sc-button.red
{
    background: #f88;
}
.sc-button.grey
{
    color: inherit; 
    background: #d1d1d1;
}
.sc-button.darkgrey
{
    background: #0a6064;
}
.sc-button.purple:hover
{
    background: #236fa1;
}
.sc-button.red:hover
{
    background: #d66666;
}
.sc-button.grey:hover
{
    background: #b5afaf;
}
.sc-button.green:hover
{
    background: #44b098;
}
.sc-button.darkgrey:hover
{
    background: #085053;
}

.btn
{
    border-radius: 0;
}

/*----------------------------------------------------*/
/*	Alert Shortcode	*/
/*----------------------------------------------------*/
.jb-alert
{
    font-size: 16px;

    margin-top: 10px;
    margin-bottom: 25px; 
    padding: 10px 20px 11px;

    color: #fff;
    background: #d1d1d1;
}
.jb-alert .close
{
    top: 1px; 
    right: -2px;

    opacity: .8;
    color: #fff;
}
.jb-alert .close:hover
{
    opacity: 1;
}
.jb-alert.danger
{
    background: #f88;
}
.jb-alert.warning
{
    background: #ffd988;
}
.jb-alert.info
{
    background: #9ac9e6;
}
.jb-alert.success
{
    background: #c5e69a;
}
.jb-alert.nopost
{
    background: #1abc9c;
}

.sc-blockqoute
{
    font-size: 18px;
    line-height: 26px;

    padding: 37px 20px 36px;

    color: #7d7d7d;
    border: none; 
    border-radius: 5px;
    background: #d1d1d1;
}

.sc-form
{
    padding: 30px; 

    background: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .75);
}
.sc-form .form-group
{
    margin-bottom: 30px;
}
.sc-form .form-section
{
    display: none;
}
.sc-form .form-section.current
{
    display: inherit;
}
.sc-form textarea:focus,
.sc-form textarea:active,
.sc-form .uneditable-input:focus,
.sc-form .uneditable-input:active
{
    border-color: #7eb93a;
    outline: 0 none; 
    box-shadow: none;
}
.sc-form .form-control
{
    border-radius: 0;
}
.sc-form .form-control:focus,
.sc-form .form-control:active
{
    border-color: #7eb93a;
    outline: 0 none; 
    box-shadow: none;
}
.sc-form *[type=submit],
.sc-form *[type=button]
{
    color: #fff; 
    background-color: #71a634;
}
.sc-form *[type=submit]:hover,
.sc-form *[type=button]:hover
{
    background-color: #8bc647;
}

.form-inline .radio
{
    font-weight: normal;

    margin: 0 5px;
}
.form-inline .radio input
{
    margin-right: 5px;
}

.sc-breadcrumb
{
    margin: 10px 0; 

    background: transparent;
}
.sc-breadcrumb > li a
{
    color: #212121;
}
.sc-breadcrumb > li.active a
{
    color: #71a634;
}
.sc-breadcrumb > li + li:before
{
    content: '> ';
}

.input-group-addon
{
    color: #fff;
    border: none;
    border-radius: 0; 
    background-color: #577f28;
}

.sc-list li
{
    padding: 15px 0;
}

.sc-pagination
{
    border-radius: 0;
}
.sc-pagination a
{
    color: #71a634 !important;
}
.sc-pagination li:first-child
{
    border-top-left-radius: 0 !important; 
    border-bottom-left-radius: 0 !important;
}
.sc-pagination li:first-child > span
{
    border-top-left-radius: 0 !important; 
    border-bottom-left-radius: 0 !important;
}
.sc-pagination li.active a
{
    color: #fff !important; 
    border-color: #577f28 !important;
    background-color: #71a634 !important;
}
.sc-pagination li.active a:hover,
.sc-pagination li.active a:focus
{
    border-color: #577f28 !important; 
    background-color: #71a634 !important;
}
.sc-pagination li.active a span:hover,
.sc-pagination li.active a span:focus
{
    border-color: #577f28 !important; 
    background-color: #71a634 !important;
}

#header
{
    line-height: 99px;

    min-height: 99px; 

    border-top: 3px solid #71a634;
    border-bottom: thin solid #777272;
    background: #525657;
}
#header .logo-wrapper img
{
    width: 300px;
}
@media only screen and (max-width: 480px)
{
    #header .logo-wrapper img
    {
        width: 250px;
    }
}

#header-bar
{
    line-height: 1em;

    height: 44px;

    text-align: right; 

    border-bottom: thin solid #777272;
}
@media only screen and (max-width: 480px)
{
    #header-bar
    {
        height: auto;
    }
}

.header-social-media
{
    display: inline-block;

    margin: 15px 20px 0 0;
    padding: 0; 

    list-style: outside none none;
}
@media only screen and (max-width: 480px)
{
    .header-social-media
    {
        display: block;
        float: left;

        margin-top: 15px;
        margin-bottom: 10px;

        text-align: left;
        vertical-align: middle;
    }
}
.header-social-media li
{
    font-size: 16px; 

    display: inline-block;
}
.header-social-media li a
{
    padding: 0 10px; 

    color: #fff;
}
.header-social-media li a:hover
{
    color: #71a634;
}

.header-login-register
{
    display: inline-block;

    vertical-align: top;
}
@media only screen and (max-width: 480px)
{
    .header-login-register
    {
        display: block;
        float: right;

        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;

        text-align: center;
    }
}
.header-login-register .btn-header-register
{
    background: #577f28;
}
.header-login-register .btn-header-login
{
    background: #71a634;
}
.header-login-register .btn
{
    font-weight: 300;

    margin-top: 4px; 
    margin-left: 3px;

    color: #fff;
}

#menu-wrapper
{
    position: relative;
}

.navbar-toggle
{
    position: absolute;
    top: -70px; 
    right: 0;
}
.navbar-toggle .icon-bar
{
    background: #71a634;
}

#main-menu
{
    position: relative;

    text-align: right;
    text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 1199px)
{
    #main-menu
    {
        text-align: left;
    }
}
#main-menu .nav-menu
{
    margin: 0;
    padding: 0; 

    list-style: outside none none;
}
#main-menu .nav-menu > li
{
    display: inline-block;

    padding: 0 20px;
}
@media only screen and (max-width: 480px)
{
    #main-menu .nav-menu > li.has-children a:after
    {
        font-family: 'fontAwesome';
        font-size: 20px;

        position: absolute;
        right: 10px;

        width: 35px; 

        content: '\f107';
        text-align: center;
    }
    #main-menu .nav-menu > li.has-children li a:after
    {
        content: '';
    }
}
@media only screen and (min-width: 481px)
{
    #main-menu .nav-menu > li.has-children:hover .sub-menu
    {
        display: block;
    }
}
#main-menu .nav-menu li a
{
    font-weight: 300;

    padding: 14px 0;
    transition: all .3s ease, 0s; 

    color: #fff;
    border-bottom: thin solid transparent;
}
@media only screen and (min-width: 481px)
{
    #main-menu .nav-menu li a:hover
    {
        text-decoration: none;

        color: #71a634;
        border-bottom-color: #71a634;
    }
}
@media only screen and (max-width: 480px)
{
    #main-menu .nav-menu li
    {
        font-size: 12px; 
        line-height: 1em;

        display: block;

        padding: 0;

        text-align: left;

        border-bottom: thin solid #71a634;
    }
    #main-menu .nav-menu li li a
    {
        padding-left: 20px;
    }
    #main-menu .nav-menu li li a:hover
    {
        text-decoration: none;
    }
    #main-menu .nav-menu li a
    {
        display: block;
    }
}
#main-menu .sub-menu
{
    line-height: normal;

    position: absolute;
    z-index: 9; 

    display: none;

    min-width: 250px;
    margin: 0;
    padding: 0;

    list-style: outside none none;

    text-align: left;

    border-top: #71a634;
    border-bottom: 3px solid #577f28;
    background: #fff;
}
@media only screen and (max-width: 480px)
{
    #main-menu .sub-menu
    {
        position: static;

        border-bottom: none; 
        background: #525657;
        box-shadow: none;
    }
}
#main-menu .sub-menu li a
{
    display: block;

    padding-right: 15px;
    padding-left: 15px;

    color: #212121;
}
#main-menu .sub-menu li:hover
{
    background: #f0f0f0;
}
#main-menu .sub-menu li:hover a
{
    color: #71a634;
}
@media only screen and (max-width: 480px)
{
    #main-menu .sub-menu li
    {
        line-height: 1em;

        display: block;

        padding: 0;

        text-align: left;

        border-bottom: none;
    }
    #main-menu .sub-menu li a
    {
        color: #fff;
    }
    #main-menu .sub-menu li a:before
    {
        margin-right: 5px; 

        content: '-';
    }
}
#main-menu ul ul
{
    box-shadow: 1px 1px 30px rgba(0, 0, 0, .6);
}
#main-menu .has-children
{
    position: relative;
}

#footer-query
{
    padding: 37px 0 61px;

    text-align: center; 

    color: #fff;
    background-color: #71a634;
}
#footer-query h2
{
    font-size: 36px;
    font-weight: 400;

    margin-bottom: 31px;
}
#footer-query p
{
    line-height: 24px;
}
#footer-query .footer-query-contact
{
    color: #fff;
}

.footer-query-contact
{
    font-size: 36px;

    padding-top: 23px; 

    color: #343434;
}

.footer-navigation
{
    text-align: center; 

    border-bottom: thin solid #3d3d3d;
    background-color: #343434;
}

#footer-menu
{
    margin: 0;
    padding: 0; 

    list-style-type: none;
}
#footer-menu li
{
    display: inline-block;

    margin: 0;
    padding: 0;
}
#footer-menu li a
{
    display: block;

    padding: 20px;

    text-transform: uppercase; 

    color: #777f7f;
}
#footer-menu li a:hover
{
    text-decoration: none;

    color: #fff;
}

#footer
{
    padding: 20px 0 30px; 

    color: #868686;
    background: #343434;
}

#footer-widgets .widget
{
    padding-top: 15px;
}

#footer-widgets .widgets-container
{
    min-height: 262px;
    padding: 0 10px 0 25px; 

    border-right: thin solid #414141;
}

#footer-widgets .textwidget
{
    font-size: 13px;
    line-height: 22px;

    padding-top: 3px;
}

#footer-widgets ul
{
    margin: 0;
    padding: 0 0 0 10px; 

    list-style: outside none none;
}
#footer-widgets ul li
{
    padding: 5px 0 17px;
}
#footer-widgets ul li a
{
    font-size: 13px;

    text-decoration: none;
    text-transform: uppercase; 

    color: #818181;
}

.footer-widget-title
{
    font-size: 18px;
    font-weight: 400 !important;

    margin-top: 5px; 
    margin-bottom: 20px;

    color: #fff;
}

.input-newsletter
{
    width: 100%; 
    height: 40px;
    padding: 10px;

    color: #868686;
    border: medium none;
    border-radius: 0;
    background: #656565;
}

.btn-newsletter
{
    font-size: 16px;

    margin: 0;
    padding: 7px 30px; 

    color: #fff;
    border: medium none;
    border-radius: 0;
    background: #71a634;
}
.btn-newsletter:hover
{
    background: #8bc647;
}

.widget a
{
    text-decoration: none;
}

.media-footer
{
    line-height: 25px;

    display: inline-block;

    width: 24px; 
    height: 24px;
    margin-top: 28px;
    margin-right: 5px;

    background: url('../img/icon-media-footer.png');
}

.footer-twitt
{
    background-position: 0 0;
}

.footer-fb
{
    background-position: -30px 0;
}

.footer-linkedin
{
    background-position: -58px 0;
}

.footer-yahoo
{
    width: 27px; 

    background-position: -92px 0;
}

.footer-blog
{
    background-position: -133px 0;
}

.footer-rss
{
    background-position: -167px 0;
}

#footer-text
{
    margin-top: 25px;
}
#footer-text a
{
    color: #fff;
}

/*
 * Theme bar search container
 */
#job-search
{
    padding: 22px 0 55px; 

    color: #fff;
    background-color: #577f28;
}

.job-search-title
{
    font-size: 27px;
    font-weight: 700;

    margin-bottom: 26px;
}

.has-feedback
{
    position: relative;
}
.has-feedback .form-control
{
    padding-right: 42.5px;
}

.form-group .form-control-feedback
{
    font-size: 16px;
    line-height: 40px;

    top: 32px !important; 

    height: 40px;

    color: #71a634;
}

.form-group.experience
{
    padding-top: 13px;
}
.form-group.experience .slider-label
{
    margin-bottom: 9px;
}

.form-group.salary
{
    padding-top: 39px;
    padding-bottom: 38px;
}
.form-group.salary .slider-label
{
    margin-bottom: 7px;
}

#job-search .text-label
{
    margin-bottom: 9px;
}

#job-search-form label
{
    font-size: 18px;
    font-weight: 400; 

    display: block;
}

#job-search-form .form-control
{
    height: 40px; 

    border: medium none;
    border-radius: 0;
    box-shadow: none;
}

#advance-search-option
{
    display: none;
}

.job-filter-dropdown
{
    margin-top: 20px; 
    margin-bottom: 20px;
}
.job-filter-dropdown .minict_wrapper
{
    font-size: 14px;

    height: 41px; 

    color: inherit;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
}
.job-filter-dropdown .minict_wrapper:after
{
    color: #71a634;
}
.job-filter-dropdown .minict_wrapper span
{
    height: 40px;
    padding: 11px 12px; 

    color: #555;
}
.job-filter-dropdown .minict_wrapper > input
{
    height: 40px;
    padding: 11px 12px;

    color: #555;
    border: medium none; 
    background: transparent;
}
.job-filter-dropdown .minict_wrapper ul
{
    margin-top: 20px;
}
.job-filter-dropdown .minict_wrapper ul li
{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;

    color: #777; 
    border-bottom: thin solid #d5d5d5;
}

.init-slider
{
    display: none;
}

.ui-slider .ui-slider-handle
{
    width: 19px; 
    height: 19px;
}

.ui-slider-horizontal
{
    background-color: #fff;
    box-shadow: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default
{
    border: medium none;
}

.ui-slider li span.ui-slider-label-show,
.ui-slider dd span.ui-slider-label-show
{
    color: #fff;
}

@media only screen and (max-width: 480px)
{
    .ui-slider li span.ui-slider-label-show,
    .ui-slider dd span.ui-slider-label-show
    {
        display: none;
    }
}

#search-btn-wrap
{
    margin-top: 15px;
}
#search-btn-wrap .search-btn-group
{
    display: table;
    float: right;

    width: auto;
}

.btn-job-search
{
    font-weight: 700;

    width: 100%; 
    padding: 10px 50px;

    color: #fff;
    border: medium none;
    background-color: #8bc647;
}
.btn-job-search:hover,
.btn-job-search:active
{
    color: #fff; 
    background-color: #3c581c;
}

.advance-search-toggle
{
    display: block;

    width: 100%;
    padding: 10px 0;

    text-decoration: underline;

    color: #fff; 
    border: medium none;
    background: transparent;
}
.advance-search-toggle:hover,
.advance-search-toggle:active
{
    color: #8bc647; 
    background: transparent;
}

#jobs-listing
{
    padding-top: 52px; 
    padding-bottom: 11px;
}
#jobs-listing #job-listing-tabs
{
    background: #fff;
}
#jobs-listing .ui-tabs-nav
{
    padding: 0; 

    border-width: medium medium 1px;
    border-style: none none solid;
    border-color: #e3e3e3;
    border-radius: 0;
    border-image: none;
    background: inherit;
}
#jobs-listing .ui-tabs-nav li
{
    font-size: 16px;
    font-weight: 400px;

    margin-right: -1px; 

    border: thin solid #e3e3e3 !important;
    border-radius: 0 !important;
    background: transparent;
}
@media only screen and (max-width: 480px)
{
    #jobs-listing .ui-tabs-nav li
    {
        width: 100%;
    }
    #jobs-listing .ui-tabs-nav li a
    {
        width: 100%;
    }
}
#jobs-listing .ui-tabs-nav li a
{
    padding: 5px 25px 6px; 

    color: #212121;
}
#jobs-listing .ui-tabs-nav li.ui-tabs-active
{
    background: #fff;
}
#jobs-listing .ui-tabs-nav li.ui-tabs-active a
{
    color: #fff;
}
#jobs-listing .ui-tabs-panel
{
    padding: 0;

    border: thin solid #e3e3e3;
}
#jobs-listing .ui-state-active a,
#jobs-listing .ui-state-active a:link,
#jobs-listing .ui-state-active a:visited
{
    background-color: #71a634;
}
#jobs-listing .job-listing-list
{
    margin-right: 0;
}
#jobs-listing .job-listing-list .the-list
{
    overflow-y: auto;

    max-height: 500px; 
    padding-right: 0;
}
#jobs-listing .job-listing-list .the-list li
{
    border-bottom: thin solid #e3e3e3;
}
#jobs-listing .job-listing-list .the-list li a
{
    display: inline-block; 

    width: 100%;
    height: 100%;
    padding: 10px 0 10px 15px;
}
#jobs-listing .job-listing-list .the-list li:hover
{
    background: #ccc;
}
#jobs-listing .job-listing-list .the-list li:hover a
{
    text-decoration: none;

    color: #71a634;
}
#jobs-listing .job-listing-list .job-info
{
    padding-bottom: 25px; 

    border-left: thin solid #e3e3e3;
}
@media only screen and (max-width: 480px)
{
    #jobs-listing .job-listing-list .job-info
    {
        margin-left: 15px;
    }
}
#jobs-listing .job-listing-list .job-info span
{
    display: block;
}
#jobs-listing .job-listing-list .job-info span i
{
    margin-right: 10px;
}
#jobs-listing .job-listing-list .job-info span.job-type i
{
    color: #ff9494;
}
#jobs-listing .job-listing-list .job-info span.job-city-name i
{
    color: #27a2f8;
}
#jobs-listing .job-listing-list .job-info span.job-posted-time
{
    font-size: 12px;
    font-style: italic;
}

.job-listing-wrapper
{
    clear: both;
}

.common-page-wrapper
{
    padding-bottom: 30px; 

    color: inherit;
    background-color: #ecf0f1;
}

#login-form-wrapper,
#register-form-wrapper
{
    width: 430px; 
    padding: 40px 30px;

    border-radius: 10px;
    background-color: #577f28;
}
@media only screen and (max-width: 480px)
{
    #login-form-wrapper,
    #register-form-wrapper
    {
        width: auto;
    }
}

#login-form a,
#register-form a
{
    text-decoration: underline;

    color: #8bc647;
}

#login-form label,
#register-form label
{
    font-size: 12px;
    font-weight: 300;

    color: #fff;
}

#login-form .form-group:not(.no-border):after,
#register-form .form-group:not(.no-border):after
{
    position: relative;
    top: -10px; 

    display: block;

    height: 9px;

    content: '';

    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: #71a634 #71a634;
    border-image: none;
}

#login-form .form-control,
#register-form .form-control
{
    font-weight: 300; 

    color: #fff;
    border: medium none;
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
}

#login-form ::-webkit-input-placeholder,
#register-form ::-webkit-input-placeholder
{
    color: #eee;
}

#login-form :-moz-placeholder,
#register-form :-moz-placeholder
{
    color: #eee;
}

#login-form ::-moz-placeholder,
#register-form ::-moz-placeholder
{
    color: #eee;
}

#login-form :-ms-input-placeholder,
#register-form :-ms-input-placeholder
{
    color: #eee;
}

#login-form .btn,
#register-form .btn
{
    color: #fff; 
    background-color: #71a634;
}
#login-form .btn:hover,
#register-form .btn:hover
{
    background-color: #8bc647;
}

.forgetmenot label
{
    color: #fff;
}

.lost-password-link
{
    margin-left: 15px; 

    color: #fff;
}

.alert-widget .alert-widget-title
{
    padding: 10px 10px 10px 15px; 

    color: #fff;
    background: #71a634;
}
.alert-widget .alert-widget-title .badge
{
    padding: 5px;
}

.alert-widget .alert-widget-content ul.list-group li.list-group-item:before,
.alert-widget .alert-widget-content ul.list-group li.list-group-item:after
{
    clear: both;
}

.alert-widget .alert-widget-content ul.list-group li.list-group-item:first-child
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alert-widget .alert-widget-content ul.list-group li.list-group-item:last-child
{
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0;
}

@media only screen and (max-width: 480px)
{
    #company-home-tab .nav-tabs li
    {
        width: 100%;

        border: thin solid #d5d5d5;
    }
}

#company-home-tab .nav-tabs li.active a
{
    color: #fff; 
    background-color: #71a634;
}

@media only screen and (max-width: 480px)
{
    #company-home-tab .nav-tabs li a
    {
        border: none !important;
        border-radius: 0 !important;
    }
}

#company-home-tab .tab-pane
{
    float: left;

    width: 100%; 

    border: thin solid #d5d5d5;
}

.company-job-list
{
    margin: 0; 
    padding: 0;
}
.company-job-list li
{
    clear: both;

    min-height: 105px;
    padding: 15px 50px 15px 15px; 

    border-bottom: thin solid #d5d5d5;
}
@media only screen and (max-width: 480px)
{
    .company-job-list li
    {
        padding: 15px;
    }
    .company-job-list li .btn
    {
        margin-top: 10px;
    }
}

#companyPostJobForm .radio-clearfix
{
    margin-bottom: 10px;
}

#cv-search
{
    padding: 22px 0 55px; 

    color: #fff;
    background-color: #577f28;
}
#cv-search .form-control.form-control-feedback
{
    font-size: 16px;
    line-height: 40px;

    top: 32px !important; 

    height: 40px;

    color: #71a634;
}

.cv-search-wrapper
{
    clear: both;
}

.cv-search-title
{
    font-size: 27px;
    font-weight: 700;

    margin-bottom: 26px;
}

.job-category-select-wrapper
{
    margin-top: 20px; 
    margin-bottom: 20px;
}
.job-category-select-wrapper .minict_wrapper
{
    font-size: 14px;

    height: 41px; 

    color: inherit;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
}
.job-category-select-wrapper .minict_wrapper:after
{
    color: #71a634;
}
.job-category-select-wrapper .minict_wrapper span
{
    height: 40px;
    padding: 11px 12px; 

    color: #555;
}
.job-category-select-wrapper .minict_wrapper > input
{
    height: 40px;
    padding: 11px 12px;

    color: #555;
    border: medium none; 
    background: transparent;
}
.job-category-select-wrapper .minict_wrapper ul
{
    margin-top: 20px;
}
.job-category-select-wrapper .minict_wrapper ul li
{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;

    color: #777; 
    border-bottom: thin solid #d5d5d5;
}

#cv-result-listing .list-result li
{
    padding: 30px 0; 

    border-bottom: thin solid #e3e3e3;
}
#cv-result-listing .list-result li i.fa-map-marker
{
    font-size: 24px;
    line-height: 30px;

    margin-right: 10px; 

    color: #f44336;
}

#agency-dashboard .agency-contractor-list li
{
    float: left; 
    clear: both;
}

.list-notif .alert
{
    font-size: 12px; 

    padding-left: 15px;
}
