body {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #525657; /* Old browsers */
	background: -moz-linear-gradient(top, #525657 0%, #71a634 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #525657 0%,#71a634 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #525657 0%,#71a634 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525657', endColorstr='#71a634',GradientType=0 ); 
}

#wrapper {
	overflow: hidden;
}

.container {
	padding: 0;

	@include respond-to(handhelds) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.uppercase {
	text-transform: uppercase;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;

	@include respond-to(handhelds) {
		font-size: 18px;
	}
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	word-wrap: break-word;
}

.page-title {
	font-size: 24px;
	// font-weight: 700;
	line-height: 104px;
	margin: 0;
}

.sc-title {
	font-size: 24px;
	// font-weight: 700;
	line-height: 36px;
	margin: 0;
}

.lighten {
	color: #fff !important;
}

.bg-white {
	background: #fff !important;
}

a {
	color: #fff;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@for $i from 1 through 10 {
	$j: $i*10;

	.divide#{$j} {
		height: $j + 0px;
		width: 100%;
	}

	.element-top-#{$j} {
		margin-top: $j + 0px;
	}

	.element-bottom-#{$j} {
		margin-bottom: $j + 0px;
	}

	.element-height-#{$j} {
		height: $j + 0px;
	}
}

.no-padding {
	padding: 0 !important;
}

.all-padding {
	padding: 15px !important;
}

.no-margin {
	margin: 0 !important;
}

/*----------------------------------------------------*/
/*	Unordered List Shortcode	*/
/*----------------------------------------------------*/

.sc-ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 20px;
	li {
		position: relative;
		margin-left: 18px;
		line-height: 22px;
		padding: 4px 0;
	}
	.fa {
		position: absolute;
		left: -20px;
		line-height: 22px;
	}
}

/*----------------------------------------------------*/
/*	Drop Cap Shortcode	*/
/*----------------------------------------------------*/

.sc-dropcap {
	font-size: 70px;
	float: left;
	line-height: 65px;
	padding: 0 10px;
	margin-right: 10px;
	&.boxed {
		color: #FFFFFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
}

/*----------------------------------------------------*/
/*	Button Shortcode	*/
/*----------------------------------------------------*/

.btn-preloader {
	display: none;
	text-align: center;
}

.sc-button {
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
	margin-right: 15px;
	font-weight: 300;
	color: #FFFFFF;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	@include transition(all, .3s, ease);

	&.btn-width-fix {
		width: 50%;

		@include respond-to(handhelds) {
			width: 100%;
		}
	}

	@include respond-to(handhelds) {
		font-size: 12px;
	}

	&:hover {
		color: #FFFFFF;
	}
	&.medium {
		padding: 10px 29px;
	}
	&.large {
		padding: 12px 34px;
		font-size: 20px;
	}
	&.green {
		background: #4ec6ab;
	}
	&.purple {
		background: #2980b9;
	}
	&.red {
		background: #ff8888;
	}
	&.grey {
		background: #d1d1d1;
		color: inherit;
	}
	&.darkgrey {
		background: #0a6064;
	}
	&.purple:hover {
		background: #236fa1;
	}
	&.red:hover {
		background: #d66666;
	}
	&.grey:hover {
		background: #b5afaf;
	}
	&.green:hover {
		background: #44b098;
	}
	&.darkgrey:hover {
		background: #085053;
	}
}

.btn {
	border-radius: 0;
}

/*----------------------------------------------------*/
/*	Alert Shortcode	*/
/*----------------------------------------------------*/

.status-message {
	clear: both;
}

.alert {
	color: #FFFFFF;
	border-radius: 0;
}

.alert-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

.alert-success {
	background-color: $alert-green;
	border-color: darken($alert-green, 10%);
}

.alert-info {
	background-color: $alert-blue;
	border-color: darken($alert-blue, 10%);
}

.alert-warning {
	background-color: $alert-yellow;
	border-color: darken($alert-yellow, 10%);
}

.alert-danger {
	background-color: $alert-red;
	border-color: darken($alert-red, 10%)
}

.sc-blockqoute {
	background: #d1d1d1;
	border: none;
	color: #7d7d7d;
	font-size: 18px;
	line-height: 26px;
	padding: 37px 20px 36px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.sc-form {
	background: #fff;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	padding: 30px;

	.form-group {
		margin-bottom: 30px;
	}

	.form-section {
		display: none;

		&.current {
			display: inherit;
		}
	}

	textarea, .uneditable-input {
		&:focus, &:active {
			border-color:	lighten($accent-color, 5%);
			box-shadow: none;
			outline: 0 none;
		}
	}

	.form-control {
		border-radius: 0;

		&:focus, &:active {
			border-color:	lighten($accent-color, 5%);
			box-shadow: none;
			outline: 0 none;
		}
	}

	*[type=submit], *[type=button] {
		background-color: $accent-color;
		color: #fff;

		&:hover {
			background-color: lighten($accent-color, 10%);
		}
	}

	label {
		color: $primary-text-color;
	}

	a {
		color: $accent-color;

		&:hover {
			color: lighten($accent-color, 10%);
		}
	}
}

.form-inline {
	.radio {
		font-weight: normal;
		margin: 0 5px;

		input {
			margin-right: 5px;
		}
	}
}

.sc-breadcrumb {
	background: transparent;
	margin: 10px 0;
	padding-left: 0;

	& > li {
		&.active {
			a {
				color: $accent-color;
			}
		}
		
		& + li {
			&:before {
				content: '> ';
			}
		}
	}
}

.input-group-addon {
	background-color: darken($accent-color, 10%);
	border: none;
	color: #fff;
	border-radius: 0;
}

.sc-list {
	li {
		padding: 15px 0;
	}
}

.sc-pagination {
	border-radius: 0;

	a {
		color: $accent-color !important;
	}

	li {
		&:first-child {
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 0 !important;

			& > span {
				border-bottom-left-radius: 0 !important;
				border-top-left-radius: 0 !important;
			}
		}

		&.active {
			a {
				background-color: $accent-color !important;
				border-color: darken($accent-color, 10%) !important;
				color: #fff !important;

				&:hover, &:focus {
					background-color: $accent-color !important;
					border-color: darken($accent-color, 10%) !important;
				}

				span {
					&:hover, &:focus {
						background-color: $accent-color !important;
						border-color: darken($accent-color, 10%) !important;
					}
				}
			}
		}
	}
}

.popover {
	border-radius: 0;
}

.popover-content {
	color: $primary-text-color;
	font-size: 12px;
}

.ui-tabs {
	padding: 0;
}

.panel {
	border-radius: 0;
	color: $primary-text-color;

	a {
		color: $accent-color;

		&:hover {
			color: lighten($accent-color, 10%);
		}
	}
}

.modal {
	color: $primary-text-color;

	.modal-content {
		border-radius: 0;

		.modal-header {
			background-color: $accent-color;
			color: #fff;
		}
	}
}