/*
 * Theme bar search container
 */

#job-search {
	background-color: darken($accent-color, 10%);
	color: #fff;
	padding: 22px 0 0;
}

.job-search-title {
	font-size: 27px;
	// font-weight: 700;
	margin-bottom: 26px;
}

.has-feedback {
	position: relative;

	.form-control {
		padding-right: 42.5px;
	}
}

.form-group {
	.form-control-feedback {
		color: $accent-color;
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		top: 32px !important;
	}

	&.experience {
		padding-top: 13px;

		.slider-label {
			margin-bottom: 9px;
		}
	}

	&.salary {
		padding-top: 15px;
		padding-bottom: 38px;

		.slider-label {
			margin-bottom: 7px;
		}
	}

	&.salary-type {
		padding-top: 39px;

		.slider-label {
			margin-bottom: 7px;
		}
	}
}

#job-search {
	.text-label {
		margin-bottom: 9px;
	}
}

#job-search-form {
	label {
		display: block;
		font-size: 18px;
		font-weight: 400;
	}

	.form-control {
		border: medium none;
		border-radius: 0;
		box-shadow: none;
		height: 40px;
	}
	@include respond-to(wide-screens) {
		margin-bottom: 10px;
	}
	@include respond-to(medium-screens) {
		margin-bottom: 25px;
	}
	@include respond-to(handhelds) {
		margin-bottom: 25px;
	}
}

#advance-search-option {
	display: none;
}

.job-filter-dropdown {
	margin-bottom: 20px;
	margin-top: 20px;

	.minict_wrapper {
		border-radius: 0;
		box-shadow: none;
		color: inherit;
		background: #fff;
		font-size: 14px;
		height: 41px;

		&:after {
			color: $accent-color;
		}

		span {
			color: #555;
			height: 40px;
			padding: 11px 12px;
		}

		& > input {
			color: #555;
			height: 40px;
			padding: 11px 12px;
			background: transparent;
			border: medium none;
		}

		ul {
			margin-top: 20px;

			li {
				border-bottom: thin solid #d5d5d5;
				height: auto;
				padding-bottom: 10px;
				padding-left: 14px;
				padding-top: 10px;
				color: #777;
			}
		}
	}
}

.init-slider {
	display: none;
}

.ui-slider {
	.ui-slider-handle {
		height: 19px;
		width: 19px;
	}
}

.ui-slider-horizontal {
	background-color: #fff;
	box-shadow: none;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: medium none;
}

.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	color: #fff;
}

@include respond-to(handhelds) {
	.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
		display: none;
	}
}

#search-btn-wrap {
	margin-top: 15px;

	.search-btn-group {
		display: table;
		float: right;
		width: auto;
		margin-top: 18px;
	}
}

.btn-job-search {
	background-color: lighten($accent-color, 10%);
	border: medium none;
	color: #fff;
	font-weight: 700;
	padding: 10px 35px;
	width: 100%;

	&:hover, &:active {
		background-color: darken($accent-color, 20%);
		color: #fff;
	}
}

.advance-search-toggle {
	background: transparent;
	border: medium none;
	display: block;
	padding: 7px 0;
	text-decoration: underline;
	width: 100%;
	color: #fff;
	text-align: left;

	&:hover, &:active {
		background: transparent;
		color: lighten($accent-color, 10%);
	}
}

#jobs-listing {
	padding-bottom: 11px;

	#job-listing-tabs {
		background: #fff;
	}

	.ui-tabs-nav {
		border-color: #e3e3e3;
		background: inherit;
		border-image: none;
		border-radius: 0;
		border-style: none none solid;
		border-width: medium medium 1px;
		padding: 0;

		li {
			background: rgba(0, 0, 0, 0);
			border: thin solid #e3e3e3 !important;
			border-radius: 0 !important;
			font-size: 16px;
			font-weight: 400px;
			margin-right: -1px;

			@include respond-to(handhelds) {
				width: 100%;

				a {
					width: 100%;
				}
			}

			a {
				color: $primary-text-color;
				padding: 5px 25px 6px;
			}

			&.ui-tabs-active {
				background: #fff;

				a {
					color: #fff;
				}
			}
		}
	}

	.ui-tabs-panel {
		padding: 0;
		border: thin solid #e3e3e3;
	}

	.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
		background-color: $accent-color;
	}

	.job-listing-list {
		margin-right: 0;

		.the-list {
			padding-right: 0;
			overflow-y: auto;
			max-height: 500px;

			@include respond-to(handhelds) {
				padding-right: 15px;
			}

			li {
				border-bottom: thin solid #e3e3e3;

				a {
					padding: 10px 0 10px 15px;
					width: 100%;
					height: 100%;
					display: inline-block;
				}

				&:hover {
					background: #ccc;

					a {
						text-decoration: none;
						color: $accent-color;
					}
				}
			}
		}

		.job-info {
			border-left: thin solid #e3e3e3;
			padding-bottom: 25px;

			@include respond-to(handhelds) {
				margin-left: 15px;
			}
			
			span {
				display: block;

				i {
					margin-right: 10px;
				}

				&.job-type {
					i {
						color: #FF9494;
					}
				}

				&.job-city-name {
					i {
						color: #27A2F8;
					}
				}

				&.job-posted-time {
					font-size: 12px;
					font-style: italic;
				}
			}

			.job-info-bottom {
				border-top: thin solid #d5d5d5;
				border-bottom: thin solid #d5d5d5;
				padding: 15px 0;
				margin: 15px 0;
			}
		}
	}

	.sc-pagination {
		border-top: thin solid #e3e3e3;
		width: 100%;
		clear: left;
	}
}

.job-listing-wrapper {
	clear: both;
}

#home-menu-listing {
	a {
		color: $accent-color;
		text-decoration: underline;

		&:hover {
			color: lighten($accent-color, 10%);
		}
	}
	
	.widget-box {
		background: #fff;
		min-height: 430px;

		@include respond-to(handhelds) {
			min-height: auto;
			margin-top: 20px;
		}
	}

	.widget-box-image {
		width: 100%;
		min-height: 200px;
		height: auto;
	}

	.widget-box-info {
		border-top: thin solid #d5d5d5;
		padding: 15px;

		h2 {
			color: $accent-color;
			font-size: 20px;
		}

		p {
			color: $primary-text-color;
			font-size: 14px;
		}
	}
}